@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --bg-color: #4a456a;
    --div-color: #2d283e94;
    --font-color: #bdbfe4;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    height: 100vh;
    background-color: var(--bg-color);
}

h1{
    color: var(--font-color);;
    font-family: 'Montserrat', sans-serif;
}
section#container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--bg-color);
}

div.hours, div.minutes, div.seconds{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    border-radius: 10px;
    background-color: var(--div-color);

}

p.hr, p.min, p.sec{
    font-size: 18rem;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: var(--font-color);
}

.start, .pause, .reset, .resume {
    border: none;
    background-color:var(--bg-color);
    color: var(--font-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 2em;
    padding: 5px;
    margin-left: 20px;
    cursor: pointer;

}

.start:hover, .pause:hover, .reset:hover, .resume:hover{
    font-weight: 800;
    transition: 0.3s;
}